.nav {
  padding-left: 0;
  flex-basis: $full;
  display: flex;
  flex-direction: column;
  &-link {
    @include disp(block);
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    width: $full;
    transition:
      background-color .2s ease-in-out,
      color .2s ease-in-out;
  }
  &-link:hover {
    color: $white;
    background-color: $accent-color;
  }

}
